[MASTER]
ignore=.git,tests

[MESSAGES CONTROL]
disable=
# "E" Error for important programming issues (likely bugs)
# "W" Warnings for stylistic problems or minor programming issues
# "C" Coding convention violations
 missing-docstring,
 bad-continuation,
# "R" Refactor recommendations
 too-many-arguments